* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
}

main {
  width: 350px;
  background-color: #15263f;
  border-radius: 15px;
  padding: 24px;
}

.card-content {
  width: 302px;
}

.card-image-container {
  width: 100%;
  margin-bottom: 24px;
}

.card-image-container img {
  width: 100%;
}

.card-details-container {
  width: 302px;
}

.card-details-name-container {
  margin-bottom: 16px;
}

.card-details-name-container h1 {
  color: white;
  font-size: 22px;
  font-weight: 600;
  line-height: auto;
}

.card-details-description-container {
  margin-bottom: 24px;
}

.card-details-description-container p {
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  color: #8bacd9;
}
